body {
    background: #47d842dc;
}

nav {
    background-color: #472cc2b7;

}

.greetings {
    background-color: #feffee;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 70px;
    font-weight: 600;
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.3);
    color: #1e293b;
}

.alert-light {
    border-color: #006b1b;
}

.form-register {
    padding: 20px;
    background: #fafafa;
    border: 1px solid silver;
}

.form-register .helptext {
    color: #b7b7b7;
}

.form-register ul.errorlist {
    color: #ca5858;
    font-weight: bold;
}

footer {
    margin-top: 100px;
    height: 200px;
    margin-left: -15%;
    background: greenyellow;
    border: 2px solid blue;
}