{% extends 'blog/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}

<!-- {{ news }} -->
<div class="greetings">
    <h1>Мы помогаем Вам, кто делает ремонт!</h1>
</div>

{% for post in news %}
<div class="alert alert-light">
    
    <h1>{{ post.title }}</h1>
    <p>{{ post.text }}</p>
    <span class="text-muted">Publication: {{ post.date|date:"j F Y, H:i:s" }}</span>
    {% if post.author %}
    <p><b>Author:</b> <mark>{{ post.author }}</mark></p>
    {% else %}
    <p><b>Author:</b> <mark>Admin</mark></p>
    {% endif %}
</div>
{% endfor %}
{% endblock %}