{% extends 'blog/base.html' %}
{% load static %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block content %}

    <div class="greetings">
        <p>Мы помогаем Вам, кто делает ремонт!</p>
    </div>

    {% for mast in masters %}
        <div class="elementer">
            <div class=""><a href="{{ mast.get_absolute_url }}">
                <p>{{ mast.master}}</p>
                <img src="{{ mast.img.url}}" alt="Photo">
            </a>
            </div>
        </div>
    {% endfor %}

{% endblock content %}