{% extends 'blog/base.html' %}
{% load static %}

{% block title %}
    {{ Masters.master }}
{% endblock %}

{% block content %}
    <h1>{{ masters.master }}</h1>
    <h4 class="mt-2">{{ masters.master }}</h4>
            <img src="{{ masters.img.url}}" alt="hear must be a photo"></img>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci delectus, dolorum enim error excepturi
                illum ipsa, laboriosam, nulla quae quas quia quis recusandae sapiente soluta voluptas. Dolor odit omnis similique.
            </p>
            <a href="https://translate.google.com/?hl=ru">
                <button class="btn btn-warning">Look</button>
            </a>
{% endblock %}
